@{
    ViewBag.Title = "MVC5Demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>ASP.NET MVC5 Getting started</h2>
<p>
    This projects demonstrate step by step implementation of new features in ASP.NET MVC 5
    <b>ASP.Net Identity</b> <br />
    <b>Scaffolding</b> <br />
    <b>Attribute Routing</b> <br />
    <b>One ASP.Net</b> <br />
    <b>Filter Overrides</b> <br />
    <b>Bootstrap</b> <br />
</p>


<address>
    <strong>Support:</strong>   <a href="mailto:mahesh0919@gmail.com">mahesh0919@gmail.com</a><br />
</address>